#section {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 60px;
}

.css-eglki6-MuiLinearProgress-root {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* text-align: center; */
  display: block;
  margin: auto;
  margin-top: 2px;
  height: 6px !important;
  z-index: 0;
  border-radius: 100px;
  background-color: #6de2e2 !important;
}

.css-5ir5xx-MuiLinearProgress-bar1 {
  background-color: #ce2d4f !important;
}

.css-1r8wrcl-MuiLinearProgress-bar2 {
  background-color: transparent !important;
}

.buttons {
  display: inline-block;
}

#buttonAnswer {
  width: 50%;
}

#buttonClear {
  width: 50%;
}

.myInput {
  text-align: center;
  line-height: 30px !important;
}

h2 {
  font-family: Montserrat Semibold, sans-serif;
}
